@using WebApplication1.Models;
@model Customer
@{
    ViewBag.Title = "Details";
}

<h2>Details Of Customer based on passed Id</h2>
<hr />
<ul>
    <li>Id : @Model.Id</li>
    <li>Name :@Model.Name</li>
    <li>Mobile :@Model.MobileNo</li>
</ul>

