@using WebApplication1.Models;
@model List<Customer>   

@* "@model is used to create object of customer class named Model"*@

@{
    ViewBag.Title = "Index";
   // List<Customer> customers = ViewBag.Customers ;
}

<h2>Customers Data</h2>
<hr />

    @Html.ActionLink("Add New","Create","Customers", null, new { @class = "btn btn-info" })

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        
    </tr>
    @foreach(var c in Model)
     {
                <tr>
                    <td>@c.Id</td>
                  
                    <td>@Html.ActionLink(c.Name, "Details", "Customers", new { id = c.Id }, null) </td>

                   
                </tr>
     }
</table>

